

.footer{
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 50px;
}

.footer-container{
  width: 70%;
  margin: 0 15% 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .footer-container{
    width: 70%;
    margin-left: 5px;
  }
}

/* left side footer */

.footer-left{
  padding-top: 40px;
}

.footer-left h1 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.footer-left p {
  color: rgb(168, 168, 168);
  margin-right: 20px;
}

/* right side footer */

.footer-right{
  padding-top: 40px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .footer-right{
    gap:10px;
  }
}

@media only screen and (max-width: 400px) {
  .footer-right{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.footer-right h1{
  font-size: 20px;
  color: rgb(231, 231, 231);
}

.footer-right a{
  margin-top: 15px;
  font-size: 16px;
  color: rgb(168, 168, 168);
  display: block;
}

/* Gamble Aware - bottom page */

.under-section{
  width: 70%;
  margin: 0 15% 0 15%;
  padding-top: 50px;
  display: flex;
  padding-bottom: 50px;
}

@media only screen and (max-width: 900px) {
  .under-section{
    flex-direction: column;
    margin: 0;
    margin-left: 10px;
  }
}

.under-section p{
  font-size: 14px;
  margin-left: 10px;
  color: rgb(168, 168, 168);
}

.under-section span{
  color: rgb(255, 0, 0);
}